<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHLBaseApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5E949CFA1EC9996A0028E0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E949D131EC9996B0028E0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E949D1E1EC9996B0028E0B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
